body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  text-decoration: none;
}

.sidebar.open {
  width: 200px;
}

.sidebar.closed {
  width: 50px;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.sidebar-slide-in {
  animation: slide-in 0.1s ease-in;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    /* transform: translateY(-100%); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}
.sidebar-slide-down {
  animation: slide-down 0.1s ease-in;
}

